<div class="container">
    <section class="vh-100 min-w-100 d-flex justify-content-center align-items-center">
        <h1 class="text-center">Hello, <%= username %>
        </h1>
    </section>

    <section class="bg-dark text-white vh-100 min-w-100 d-flex justify-content-center align-items-center">
        <div class="container text-center">
            <h1>Apa kabar?</h1>
            <h1>Kuharap kamu baik-baik saja ya</h1>
        </div>
    </section>
    <section class="vh-100 min-w-100 d-flex justify-content-center align-items-center">
        <div class="container text-center">
            <h1>Selamat 11 bulan untuk hubungan kita ya.</h1>
            <h1>Kuharap hubungan kita akan berlanjut terus sampai kapanpun nantinya.</h1>
        </div>
    </section>
    <section class="bg-dark text-white vh-100 min-w-100 d-flex justify-content-center align-items-center">
        <div class="container text-center">
            <h1>Bagaimana dengan hubungan kita di bulan ini?</h1>
            <h1>Apakah baik-baik saja?</h1>
        </div>
    </section>
    <section class="vh-100 min-w-100 d-flex justify-content-center align-items-center">
        <div class="container text-center">
            <h1>Hanya kamu yang dapat menjawabnya <%= username %>
            </h1>
        </div>
    </section>
    <section class="bg-dark text-white vh-100 min-w-100 d-flex justify-content-center align-items-center">
        <div class="container text-center">
            <h1>Akuu ingin kamu mengklik tombol di bawah ini untuuk menyampaikaan sesuatuu yang tidak bisa kamuu
                sampaikaan secara langsuuung</h1>
            <div class="d-grid gap-2">
                <button class="btn btn-light" type="button"><a href="/isiHatiku">Click Me!</a></button>
            </div>
        </div>
    </section>
</div>