<div class="card w-75">
    <div class="card-body">

        <h2 class="card-title text-center">
            <% if (msg.length !==0) { %>
                <%= msg %>
                    <% } %>!
        </h2>
        <div class="text-center">
            <img src="<%= illustration %>" class="rounded" alt="confirm registration" width="500">
        </div>


    </div>
</div>